html {
    font-size: 100%;
}

body {
    font-size: 1em;
    line-height: 1.5em;
    font-family: "Lucida Grande", "Arial", sans-serif;
    height: 100%;
    min-width: 960px;
}

h1 {
    font-family: "Garamond", sans-serif;
    color: #53637D;
    text-align: left;
    font-weight: bold;
}

h2 {
    font-family: "Garamond", serif;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    margin-left: 1em;
}

p {
    padding: 0.75em 0;
}

code {
    font-family: monospace;
}

pre {
    border-left: 2px solid #53637D;
    padding-left: 0.25em;
    font-family: monospace;
    min-height: 1.5em;
}

a {
    cursor: pointer;
}

strong {
    font-weight: bold;
}

.login_error {
    color: #F31313;
}

#global {
    margin: 0;
}

a, a:visited {
    color: #426DC9;
}

.hr {
    text-align: center;
    color: #53637D;
    text-shadow: white 0 1px 1px;
    padding: 0.75em 0;
    clear: both;
}

.hr:before {
    content: "\273B\273B\273B";
}

.displayed {
    display: block;
}

input, textarea {
    border: 1px solid #53637D;
    border-radius: 4px;
}

input:focus, textarea:focus {
    border: 1px solid #FFD69C;
}

ul.normal_list {
    list-style: disc;
    list-style-position: inside;
    padding-left: 0.5em;
}





/* LEFT */

#sidebar {
    text-align: right;
    position: fixed;
    padding: 0 1em;
    width: 234px;
    background-color: #EAEEF3;
    text-shadow: white 0.0625em 0.0625em 0.0625em;
    height: 100%;
    border-right: 2px solid #E4E5E8;
    overflow-y: auto;
}

#sidebar h1 {
    font-size: 1.5em;
    line-height: 2em;
}

#sidebar .sidebar_left {
    text-align: left;
    width: 54px;
    float: left;
}

#sidebar .sidebar_right {
    width: 180px;
    text-align: right;
    float: right;
}

#sidebar a {
    text-decoration: none;
}

.menu_link {
    border-radius: 10px 0 0 10px;
    padding: 0 1em;
    margin-right: -1em;
}

#sidebar a:hover, #sidebar a:focus {
    background-color: white;
    outline: 0;
}

.footer {
    font-size: 0.875em;
    text-align: left;
    clear: both;
}

.unread {
    display: inline-block;
    font-size: 0.75em;
    text-align: center;
    border-radius: 1em;
    width: 2em;
    background-color: #F31313;
    text-shadow: none;
}

.secret_notice {
    font-size: 0.8em;
    line-height: 1.125em;
    text-align: center;
    margin: 20px auto 20px;
    color: red;
}

.cr_notice {
    font-size: 0.6em;
    line-height: 1.125em;
    text-align: center;
    position: fixed;
    bottom: 1.5em;
    width: 200px;
    margin-left: 15px;
}



/* BORDER */

#border {
    border-left: 2px solid #DADEE3;
    border-right: 2px solid #CACED3;
    width: 0px;
    height: 100%;
    position: fixed;
    margin-left: 266px;
}

#subpage_border {
    border-left: 2px solid #DADEE3;
    border-right: 2px solid #CACED3;
    width: 0px;
    height: 100%;
    position: fixed;
    left:0;
    top:0;
    margin-left:341px;
}



/* RIGHT */

#core {
    margin-left: 270px;
    margin-bottom: 1em;
    padding: 0 1em;
}

#core h1 {
    font-size: 2.5em;
    line-height: 1.8em;
    margin-bottom: 0.6em;
}


#subpage {
    position: fixed;
    left: 345px;
    top: 0px;
    bottom: 0px;
    display: none;
    margin-bottom: 1em;
    padding: 1.5em 1em 0 1em;
    z-index: 10;
}

#subpage_background {
    position: fixed;
    left: 345px;
    top:0px;
    bottom: 0px;
    right: 0px;
    background: white;
    z-index: -1;
}

#subpage_content {
    background:white;
    overflow: auto;
    z-index: 2;
    height: 100%;
}

#subpage h1 {
    font-size: 2.5em;
    line-height: 1.8em;
    margin-bottom: 0.6em;
}



/* TOGGLING */

#core h2 {
    color: #53637D;
    text-align: left;
    font-size: 1.5em;
    padding-left: 1em;
}

.toggling_on, .toggling_off {
    cursor: pointer;
}

.toggling_on:before {
    content: "\25BE\0000a0";
}

.toggling_off:before {
    content: "\25B8\0000a0";
}

.toggled_div {
    display: hidden;
}





/* TABLE */

table {
    font-size: 0.875em;
    margin-top: -0.072em;
}

table th {
    font-weight: bold;
    vertical-align: bottom;
    text-align: center;
    padding: 0.858em 0.5em;
    border-bottom: 0.072em solid #53637D;
}

table td {
    font-size: 0.875em;
    padding: 0 0.5em;
    vertical-align: middle;
    width: 1px;
    white-space: nowrap;
}

table.nested th, table.nested td {
    font-size: 0.858em;
    padding: 0 0.25em;
}

table.bordered {
    border-radius: 0.5em 0.5em 0 0;
}

table.bordered td, table.bordered th {
    border-right: 1px solid #53637D;
}

table.bordered td:last-child, table.bordered th:last-child {
    border-right: 0;
}

table.bordered thead th {
    background-color: white;
}

table.bordered tbody tr:nth-child(even) {
    background-color: white;
}

table.bordered tbody tr:nth-child(odd) {
    background-color: #EAEEF3;
}

table.TaskTypeOptions {
    border: 1px solid gray;
    margin: 5px 0px;
}




/* TODO */

.reply_question {
    display: none;
}

.reply_question_quick_answer {
  display: block;
  margin-left: 15px;
  font-style: italic;
  text-decoration: underline;
}

.reply_question textarea {
    width: 100%;
}





/* NOTIFICATIONS */

#notifications {
    margin: 0 auto;
    padding: 1em 0 0.5em;
}

#notifications .notification {
    text-align: left;
    margin-bottom: 0.572em;
    font-size: 0.875em;
    border-radius: 0.5em;
    background-color: #FEF7CB;
    border: 0.143em solid #FFE475;
    box-shadow: black 0.072em 0.072em 0.144em;
}

#notifications .notification_msg {
    padding: 0.429em;
}

#notifications .notification_close {
    float: right;
    cursor: pointer;
    background-color: #FFE475;
    border-radius: 0 0 0 0.5em;
    border-left: 0.143em solid #FFE475;
    border-bottom: 0.143em solid #FFE475;
    margin-bottom: -0.143em;
    width: 2em;
    text-align: center;
    padding: 0;
    font-weight: bold;
}

#notifications .notification_close:hover {
    background-color: #FEF7CB;
}

#notifications .notification_subject {
    font-weight: bold;
}





/* COMMUNICATIONS */

.notifications .notification {
    text-align: left;
    margin-bottom: 0.572em;
    font-size: 0.875em;
    border-radius: 0.5em;
    background-color: #FEF7CB;
    border: 0.143em solid #FFE475;
    box-shadow: black 0.072em 0.072em 0.144em;
}

.notifications .communication {
    background-color: #EAEEF3;
    border: 0.143em solid #53637D;
}

.notifications .notification_msg {
    padding: 0.429em;
}

.notifications .notification_close {
    float: right;
    cursor: pointer;
    background-color: #FFE475;
    border-radius: 0 0 0 0.5em;
    border-left: 0.143em solid #FFE475;
    border-bottom: 0.143em solid #FFE475;
    margin-bottom: -0.143em;
    width: 2em;
    text-align: center;
    padding: 0;
    font-weight: bold;
}

.notifications .notification_close:hover {
    background-color: #FEF7CB;
}

.notifications .notification_subject {
    font-weight: bold;
}

.notifications .notification_timestamp {
    float: right;
    padding-right: 0.5em;
}

.notifications .announcement_remove {
    float: right;
    margin-bottom: -0.143em;
    width: 6em;
    text-align: center;
    padding: 0;
    font-weight: bold;
}


/* Login Error Message */
.login_fails {
    position: fixed;
    top: 60px;
    width: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    z-index: 1;
}

.login_fails .login_fail {
    width: 160px;
    float: right;
    margin-right: 20px;
    clear: both;
}

/** Login **/

div.login_box form {
    margin-bottom: 0;
}

div.login_box form fieldset div.control-group:last-child {
    margin-bottom: 0;
}

div.login_container {
    margin-bottom: 20px;
}

div.login_box {
    max-width: 450px;
    margin: 0 auto;
}

@media (max-width: 979px) {
    div.navbar.navbar-fixed-top {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    div.login_box fieldset div.control-group div.controls input {
        width: 280px;
    }
}

@media (max-width: 979px) and (min-height: 488px) {
    div.login_container {
        position: fixed;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0 20px;
    }

    div.login_box {
        /* The total height of the box is 2*60 (padding) + 60 (h2) +
           (27+9) (p) + 2*(28+18) (inputs) + 40 (buttons) = 348px; */
        margin-top: -174px;
    }
}

@media (min-width: 980px) and (min-height: 468px) {
    div.login_container {
        position: fixed;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0 20px;
    }

    div.login_box {
        /* The total height of the box is 2*60 (padding) + 60 (h2) +
           (27+9) (p) + 2*(28+18) (inputs) + 40 (buttons) = 348px; */
        margin-top: -174px;
    }
}

/* DIFFERENT COLORS... */

body.admin h1,
body.admin .hr,
body.admin #core h2 {
    color: #637D53;
}

body.admin pre {
    border-left: 2px solid #637D53;
}

body.admin a,
body.admin a:visited {
    color: #6DC942;
}

body.admin input,
body.admin textarea {
    border: 1px solid #637D53;
}

body.admin input:focus,
body.admin textarea:focus {
    border: 1px solid #FFD69C   ;
}

body.admin #sidebar {
    background-color: #EEF3EA;
    border-right: 2px solid #E5E8E4;
}

body.admin #border {
    border-left: 2px solid #DEE3DA;
    border-right: 2px solid #CED3CA;
}

body.admin #subpage_border {
    border-left: 2px solid #DEE3DA;
    border-right: 2px solid #CED3CA;
}

body.admin table th {
    border-bottom: 0.072em solid #637D53;
}

body.admin table.bordered td,
body.admin table.bordered th {
    border-right: 1px solid #637D53;
}

body.admin table.bordered td:last-child,
body.admin table.bordered th:last-child {
    border-right: 0;
}

body.admin table.bordered tbody tr:nth-child(even) {
    background-color: white;
}

body.admin table.bordered tbody tr:nth-child(odd) {
    background-color: #EEF3EA;
}

body.admin div.task_dataset {
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #CED3CA;
}

body.admin #notifications .notification {
    background-color: #F7CBFE;
    border: 0.143em solid #E475FF;
}

body.admin #notifications .notification_close {
    background-color: #E475FF;
    border-left: 0.143em solid #E475FF;
    border-bottom: 0.143em solid #E475FF;
}

body.admin #notifications .notification_close:hover {
    background-color: #F7CBFE;
}

body.admin .notifications .notification {
    background-color: #F7CBFE;
    border: 0.143em solid #E475FF;
}

body.admin .notifications .communication {
    background-color: #EEF3EA;
    border: 0.143em solid #637D53;
}

body.admin .notifications .ignored {
    background-color: white;
    border: 0.143em solid #CCCCCC;
    color: #AAAAAA;
    box-shadow: none;
}

body.admin .notifications .answered {
    background-color: #DDDDDD;
    border: 0.143em solid #555555;
}

body.admin .notifications .ignore_reply {
    float: right;
    padding-right: 0.5em;
}

body.admin .notifications .notification_close {
    background-color: #E475FF;
    border-left: 0.143em solid #E475FF;
    border-bottom: 0.143em solid #E475FF;
}

body.admin .notifications .notification_close:hover {
    background-color: #F7CBFE;
}




/* HACKS */
table.jqplot-table-legend {
    width: auto;
}




a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
button,input{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}

a{color:#0088cc;text-decoration:none;}
a:hover{color:#005580;text-decoration:underline;}
p{margin:0 0 9px;}p small{font-size:11px;color:#999999;}
em{font-style:italic;}
blockquote p{margin-bottom:0;font-size:16px;font-weight:300;line-height:22.5px;}
blockquote.pull-right p,blockquote.pull-right small{text-align:right;}

form{margin:0 0 18px;}
fieldset{padding:0;margin:0;border:0;}
label,input,button{font-size:13px;font-weight:normal;line-height:18px;}
input,button{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

input[type="text"],input[type="password"]{display:inline-block;height:18px;padding:4px;margin-bottom:9px;font-size:13px;line-height:18px;color:#555555;}

input[type="text"],input[type="password"]{background-color:#ffffff;border:1px solid #cccccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;}input[type="text"]:focus,input[type="password"]:focus{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);}
.input-xlarge{width:270px;}

input{margin-left:0;}


.control-group.warning input{color:#c09853;border-color:#c09853;}.control-group.warning input:focus{border-color:#a47e3c;-webkit-box-shadow:0 0 6px #dbc59e;-moz-box-shadow:0 0 6px #dbc59e;box-shadow:0 0 6px #dbc59e;}
.control-group.error>label{color:#b94a48;}
.control-group.error input{color:#b94a48;border-color:#b94a48;}.control-group.error input:focus{border-color:#953b39;-webkit-box-shadow:0 0 6px #d59392;-moz-box-shadow:0 0 6px #d59392;box-shadow:0 0 6px #d59392;}

.control-group.success>label{color:#468847;}
.control-group.success input{color:#468847;border-color:#468847;}.control-group.success input:focus{border-color:#356635;-webkit-box-shadow:0 0 6px #7aba7b;-moz-box-shadow:0 0 6px #7aba7b;box-shadow:0 0 6px #7aba7b;}

input:focus:required:invalid,{color:#b94a48;border-color:#ee5f5b;}input:focus:required:invalid:focus,{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7;}

.form-horizontal input{display:inline-block;*display:inline;*zoom:1;margin-bottom:0;}

.control-group{margin-bottom:9px;}

.form-horizontal .control-group{margin-bottom:18px;*zoom:1;}.form-horizontal .control-group:before,.form-horizontal .control-group:after{display:table;content:"";}
.form-horizontal .control-group:after{clear:both;}
.form-horizontal .control-label{float:left;width:140px;padding-top:5px;text-align:right;}
.form-horizontal .controls{*display:inline-block;*padding-left:20px;margin-left:160px;*margin-left:0;}.form-horizontal .controls:first-child{*padding-left:160px;}

.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 10px 4px;margin-bottom:0;font-size:13px;line-height:18px;*line-height:20px;color:#333333;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(top, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:hover{color:#333333;text-decoration:none;background-color:#e6e6e6;*background-color:#d9d9d9;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-ms-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-color:#e6e6e6;background-color:#d9d9d9 \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btn.disabled,.btn[disabled]{cursor:default;background-color:#e6e6e6;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-large{padding:9px 14px;font-size:15px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.btn-large [class^="icon-"]{margin-top:1px;}

.btn-primary,.btn-primary:hover{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);}
.btn-primary.active{color:rgba(255, 255, 255, 0.75);}
.btn{border-color:#ccc;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn-primary{background-color:#0074cc;background-image:-moz-linear-gradient(top, #0088cc, #0055cc);background-image:-ms-linear-gradient(top, #0088cc, #0055cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));background-image:-webkit-linear-gradient(top, #0088cc, #0055cc);background-image:-o-linear-gradient(top, #0088cc, #0055cc);background-image:linear-gradient(top, #0088cc, #0055cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);border-color:#0055cc #0055cc #003580;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0055cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{background-color:#0055cc;*background-color:#004ab3;}
.btn-primary:active,.btn-primary.active{background-color:#004099 \9;}

button.btn,input[type="submit"].btn{*padding-top:2px;*padding-bottom:2px;}button.btn::-moz-focus-input[type="submit"].btn::-moz-focus-inner{padding:0;border:0;}
button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px;}
button.btn.btn-small,input[type="submit"].btn.btn-small{*padding-top:3px;*padding-bottom:3px;}
button.btn.btn-mini,input[type="submit"].btn.btn-mini{*padding-top:1px;*padding-bottom:1px;}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("../img/glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat;}[class^="icon-"]:last-child,[class*=" icon-"]:last-child{*margin-left:0;}


.alert{padding:8px 35px 8px 14px;margin-bottom:18px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#c09853;}
.alert-heading{color:inherit;}
.alert .close{position:relative;top:-2px;right:-21px;line-height:18px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}

.hero-unit{padding:60px;margin-bottom:30px;background-color:#eeeeee;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}.hero-unit h1{margin-bottom:0;font-size:60px;line-height:1;color:inherit;letter-spacing:-1px;}
.hero-unit p{font-size:18px;font-weight:200;line-height:27px;color:inherit;}

.close{float:right;font-size:20px;font-weight:bold;line-height:18px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);}.close:hover{color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;filter:alpha(opacity=40);}
button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;}
.pull-right{float:right;}
